
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.navbar {
    background-color: rgb(76, 79, 90);
    padding-left: 20px;
    padding-right: 20px;
}


.navbar-brand {
    color: white;
}


.navbar-brand:hover {
    color: white;
}


.nav-link {
    color:rgb(194, 194, 194);
}


.nav-link:hover {
    color:rgb(194, 194, 194);
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.card-item {
    width: 18rem;
    margin: 1rem;
}
